* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    padding: 60px;
}
input{
    width: 100%;
    font-size: 1.2rem;
}
img {
    width:90%;
    height:500px;

}
p {
    text-align:center;
    font-family:cursive;
    margin-top: 10px;
}
@media(max-width:410px){
    img {
        height: 250px;
    }
}
@media( min-width:410px){
    img {
        height: 300px;
    }
}